@{
    ViewBag.Title = "NotFoundErrorPage";
}

<div class="container">
    <div class="banner">
        <img src="../Content/Images/banner.png" alt="" />
    </div>
    <div class="text">
        <h4>The requested url was not found !...</h4>
    </div>
</div>
