@model MyMedicalGuide.Web.Models.Patients.PagingPatientViewModel

<div class="row">
    <br />
    @using (Html.BeginForm("All", "Patients", FormMethod.Get, new { area = "Doctor" }))
    {
        @Html.Partial("_SearchPartial");
    }
</div>
@Html.Partial("_PatientsPartial", Model.Patients)
<br />
@Html.Partial("_PaginationPartial", Model)
