@{
    ViewBag.Title = "Home Page";
}

<div class="card large">
    <div class="card-image">
        <img src="../Content/Images/hospital.jpg" alt="sample">
        <span class="card-title"></span>
    </div>
    <div class="card-content">
        <div class="section">
            <!-- Icon Section -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text">
                            <i class="material-icons">flash_on</i>
                        </h2>
                        <h6 class="center">One Click to your results</h6>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text">
                            <i class="material-icons">group</i>
                        </h2>
                        <h6 class="center">24 Hours Service</h6>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text">
                            <i class="material-icons">settings</i>
                        </h2>
                        <h6 class="center">Easy to work with</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



