@model MyMedicalGuide.Web.Models.Patients.PatientRequestInputModel

<div class="row">
    <div class="col s6 offset-s3">
        @Html.Partial("_RequestPartial", Model);
    </div>
</div>

@section styles{
    @Styles.Render("~/Content/JqueryUICss")
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        $(document).ready(function () {

            $("#DoctorName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/AutoComplete/AutoCompleteDoctors",
                        type: "POST",
                        dataType: "json",
                        data: {
                            term: $("#DoctorName").val(),
                            __RequestVerificationToken: $("input[name = '__RequestVerificationToken']").val()
                        },
                        success: function (data) {
                            console.log(data);
                            debugger;
                            response($.map(data, function (item) {
                                debugger;
                                return { label: item.Name, value: item.Name, id: item.Id };
                            }))
                        }
                    })
                },
                messages: {
                    noResults: "No results found!"
                },
                select: function (event, ui) {
                    var id = ui.item.id;
                    $("input[name='DoctorId']").val(id)
                    $("#DoctorName").val(ui.item.value)
                    return false;
                }
            });
        })
    </script>
}
