<div class="row center">
    <h3 class="header grey-text">@Model.Name</h3>
</div>
<div class="row center">
    <div class="row">
        <div class="card card-panel z-depth-4" style="overflow: hidden;">
            <div class="card-image">
                <p>@Model.Description</p>
            </div>
            <div class="card-content">
            </div>
        </div>
    </div>
</div>
