<li class="collection-item">
    <div class="row">
        <div class="col s6">
            <a href="/Patient/Profile/DocumentDownload/@Model.Id" class="collections-title">@Model.File</a>
        </div>
        <div class="col s3">
            <span class="task-cat red lighten-2">@Model.DoctorName</span>
        </div>
        <div class="col s3">
            <span>@Model.CreatedOn</span>
        </div>
    </div>
</li>
