<table class="striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>SSN</th>
            <th>Add Documents</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
            <tr>
                <td>@patient.FirstName</td>
                <td>@patient.LastName</td>
                <td>@patient.SSN</td>
                <td>

                    <form action="/Patients/AddDocuments/@patient.Id" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <input type="file" name="Document" id="document" />
                        <input type="text" name="DoctorFileName" id="DoctorFileName" />
                        <input type="submit" value="Upload" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
