@model IEnumerable<MyMedicalGuide.Web.Models.Patients.PatientViewModel>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>SSN</th>
            <th>Add Documents</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
            <tr>
                <td>@patient.FirstName</td>
                <td>@patient.LastName</td>
                <td>@patient.SSN</td>
                <td>
                    <form action="/Patients/AddDocuments/@patient.Id" method="post" enctype="multipart/form-data">

                        <label for="document">Document</label>
                        <input type="file" name="document" id="document" />

                        <input type="submit" value="Upload" />
                    </form>
                </td>
                <td><a href="#"></a></td>
            </tr>
        }
    </tbody>
</table>
