<div class="row" id="search-row">
    <div class="input-field col offset-s3 s4">
        <i class="mdi-action-search prefix"></i>
        <input type="text" name="search" id="searchInput" />
        <label>Search</label>
    </div>
    <div class="col s2">
        <button id="btnSearch" class="btn btn-search red lighten-2">Search</button>
    </div>
</div>
